* { border: 1px solid red; }
html, body {
    margin: 0;
    height: 100%;
}
html{
    background-color: #1b1b1e;
}
body{
    display: flex ;
    justify-content: center;
    align-items: center;
}
.main-container{
    display: flex;
    justify-content: center;
}
.calc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 600px;
    background-color: #96031A;
}
.display-digits{
    display: flex;
    width: 460px;
    margin-top: 64px;
    justify-content: flex-end;
    font-size: 64px;
    letter-spacing:9px;
    color: #1b1b1e;
    background-color: #fbfffe;
}
.button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    width: 460px;
    height: 375px;
}
.button-container > *{
    display: flex;
    flex-direction: row;
}
.row-one > *{
    width: 115px;
    height: 75px;
}
.row-two > *{
    width: 115px;
    height: 75px;
}
.row-three > *{
    width: 115px;
    height: 75px;
}
.row-four > *{
    width: 115px;
    height: 75px;
}
.row-five > *{
    width: 115px;
    height: 75px;
}
#zero{
    width: 230px;
}
button{
    font-size: 32px;
    background-color: #faa916 ;
    color: black;
    display: inline-block;
    text-align: center;
}
button:hover {
    background-color: white
}
button:active {
    background-color: white;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }